%span{ style: 'padding: 5px; margin-bottom: 10px; display: inline-block;' }
  = link_to image_tag(photo.image.thumb.url), photo, title: photo.title
  =# render partial: 'photos/info', locals: { photo: photo }